@import './colors';

body {
	height: 100vh;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: #fff;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(200px,400px) 3fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1vw;
	grid-template-areas:
		'form signature'
		'form copy-signature';
	&__form {
		grid-area: form;
		display: flex;
		flex-direction: column;
		padding: 2rem 2.5rem 2rem 2rem;
		color: get-color(white);
		background-color: get-color(background);
		overflow-y: scroll;
		width: 100%;
		max-width: 320px;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	&__signature,
	&__copy-signature {
		padding: 1rem;
	}
	&__signature {
		grid-area: signature;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__copy-signature {
		grid-area: copy-signature;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.signature-textarea {
	width: 80%;
	max-width: 500px;
}

.copy-success {
	padding: 1rem;
}
